{% extends "base.html" %}

{% block title %}
Chat
{% endblock title %}

{% block content %}
    <div class="row" style="height: 100vh;">
        <div class="col-4" style="border: solid black 2px; ">
            <h6>Private chats</h6>
            <ul>
                {% for user in users %}
                <li> <a href="{% url "private-chat" user.username %}">{{user.username}}</a></li>
                {% endfor %}
            </ul>
            <h6>Groups</h6>
            <ul>
                {% for group in groups %}
                <li> <a href="{% url "group-chat" group.name %}">{{group.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% block chat-content %}{% endblock chat-content %}
    </div>
{% endblock content %}
