{% extends "chat/chat.html" %}
{% load static %}

{% block title %}
Chat with {{receiver.username}}
{% endblock title %}

{% block chat-content %}
<div class="col-8" style="border: solid black 2px;">
  <div class="d-flex align-items-center gap-2">
    {% if receiver.profile_pic %}
    <img
    src="{{ receiver.profile_pic.url }}"
    alt=""
    height="25"
    width="25"
    style="border-radius: 100px"
    >
    {% else %}
    <img
    src="{% static 'accounts/images/default_pic.jpg' %}"
    alt=""
    height="25"
    width="25"
    style="border-radius: 100px"
    >
    {% endif %}
    <h3>{{receiver.username|title}}</h3>
  </div>
    <hr>
    <div id="chat-log">
    {% for message in messages %}
    <div>
      {% if message.sender.username == request.user.username%}
      me: {{ message.message_content }}
      {% else %}
      {{ message.sender.username }}: {{ message.message_content }}
      {% endif %}
    </div>
    {% endfor %}
    </div><br />
    <input id="chat-message-input" type="text" size="100" /><br />
    <input id="chat-message-submit" type="button" value="Send" />
</div>
{{ receiver.username|json_script:"username" }}
<script>
  const username = JSON.parse(
    document.getElementById("username").textContent
  );

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/user/" + username + "/"
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data.sender === username || data.receiver === username){
      if (data.sender != username){
        document.querySelector("#chat-log").innerText += "\n" + "me: " + data.message;
      } else{
        document.querySelector("#chat-log").innerText += "\n" + data.sender + ": " + data.message;
      }
    }
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.key === "Enter") {
      // enter, return
      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    chatSocket.send(
      JSON.stringify({
        message: message,
      })
    );
    messageInputDom.value = "";
  };
</script>
{% endblock chat-content %}
